<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to location to show nearby restaurants and shelters.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to location to show nearby restaurants and shelters.</string>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>GMSApiKey</key>
    <string>AIzaSyAkN6kA08568tyiHxZgXI3_smHGVuORuWQ</string>
</dict>
</plist> 